body {
  background-image: url("https://images.unsplash.com/photo-1559762412-627400abeec1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: middle;

}
header {
  margin: -10px;
  position: fixed;
  z-index: 1;
}

#header-img {
  height: 100px;
}

.main-info {
  padding-top: 250px;
}

.banner {
  background-color: hsla(60, 90%, 70%, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#nav-bar {
  font-family: 'Work Sans', sans-serif;
  padding: 40px;
}

#nav-bar li {
  display: inline;
  padding: 20px;
  background-color: #FFCF36;
  border-style: solid;
  border-radius: 5%;
  
}


@media (min-width: 350px) {
  #nav-bar {
  font-size: 16px;
    margin: auto;
}
  #header-img {
    margin: auto;
  }
  
  .spic {
  width: 100%;
  border-style:solid;
  
  }
  
  .about {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  
  .glass-img {
    height: 50px;
  }
  
  
}

@media (min-width: 768px) {
.banner {
 justify-content: space-between;   
  }
 #nav-bar {
  font-size: 20px;
  text-align: right;
  margin: 0;
}
  #header-img {
    margin: 0;
  }
  .main-info {
    padding-top: 150px;
    justify-content: center;
    display: grid;
    grid-template-columns:
      40% 40%;
    grid-template-areas:
      "INTRO INTRO"
      "SLIDE SLIDE"
      "ABOUT ABOUT"
      "OFFER  VIDEO"
      "SELECTION SELECTION"
      "EMAIL EMAIL"
      "CONTACT CONTACT";
                          
  }

  
  .spic {
  height: 450px;
  width: auto;
  border-style:solid;
  
}
  .video {
    width: 100%;
  }
  
  .offer {
    width: 90%;
  }
  
  .glass-img {
    height: 100px;
  }
}

#nav-bar li:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5)
}

.nav-link {
  text-decoration: None;
  color: black;
}

nav ul {
  list-style-type: None;
  margin: 0;
  padding: 0;
}
/*sections CSS*/
  .intro {
    grid-area: INTRO;
    text-align: center;
    justify-self: center;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
  }

.about {
  grid-area: ABOUT;
  justify-self:center;
  text-align: center;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
  background-color: hsla(60, 90%, 60%, 0.8);
  border-style: solid;
  border-color: black;

}

.offer {
  grid-area: OFFER;
  justify-self: left;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  line-height: 2;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;

  
}

.offer ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.video {
  grid-area: VIDEO;
  justify-self: right;
  margin-top: 10px;
}

 .selection {
    grid-area: SELECTION;
    width: 100%;
    text-align: center;
    justify-self: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background-color: hsla(60, 90%, 60%, 0.8);
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns:
      33.33% 33.33% 33.33%;
    grid-template-areas:
      "SELHEADER SELHEADER SELHEADER"
      "SUN1 SUN2 SUN3";
  }
.selection-header {
  grid-area: SELHEADER;
}
.card {
  width: 90%;
  height: 100%;
  justify-self: center;
  background-color: #F5F5F5;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
}

.card ul {
  display: inline-block;
  text-align: left;
}

.email-form {
    background-color: hsla(60, 90%, 60%, 0.8);
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    grid-area: EMAIL;
}

.tinput {
  font-size: 20px;
}
.contact {
  background-color:white;
  margin-top: 10px;
}
.social-media {
  display: inline-block;
  margin: 10px;
  
}

footer {
  text-align: center;
}

footer p{
  color: black;
  background-color: white;
  display: inline-block;
  border-style: solid;
  border-color: black;

}

/*slideshow CSS*/
.slideshow {
  box-sizing: border-box;
  grid-area:SLIDE;
  justify-self:center;
  position: relative;
  z-index = -1;
  margin: auto;
}

.slides {
  display: none;
}



/* Caption text */
.text {
  color: black;
  font-size: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-out;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}